* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: 1fr 50px 100px 100px 200px;
  height: 100vh;
  width: 100vw;
}

.colors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.color-1 {
  background: red;
}

.color-2 {
  background: black;
}

.color-3 {
  background: purple;
}

.color-4 {
  background: green;
}

.color-5 {
  background: orange;
}

.refresh-colors-btn {
  cursor: pointer;
  font-size: 32px;
}

.refresh-colors-btn:hover {
  background-color: grey;
  color: white;
  transition: all 0.4s ease-in-out;
}

.projects {
  display: flex;
  overflow: scroll;
}

.project-1 {
  background: lightgrey;
  height: 200px;
  width: 700px;
}

.project-2 {
  background: silver;
  height: 200px;
  width: 700px;
}

.project-3 {
  background: grey;
  height: 200px;
  width: 600px;
}
