* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gloria Hallelujah", cursive;
}

body {
  display: grid;
  grid-template-rows: 1fr 50px 100px 100px 200px;
  height: 100vh;
  width: 100vw;
}

.colors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.color-1,
.color-2,
.color-3,
.color-4,
.color-5 {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.fa-lock,
.fa-lock-open {
  color: white;
  cursor: pointer;
  font-size: 44px;
}

.fa-lock {
  opacity: 0.8;
}

.fa-lock-open {
  opacity: 0.3;
}

.refresh-colors-btn {
  background: rgb(223, 223, 223);
  border: none;
  cursor: pointer;
  font-size: 26px;
}

.palette-form {
  background: lightgrey;
}

.project-drop-down,
.create-palette-btn {
  cursor: pointer;
}

.palette-input,
.project-drop-down,
.create-palette-btn {
  font-size: 20px;
  width: 20%;
}

.project-form {
  background: silver;
}

.create-project-btn {
  cursor: pointer;
}

.project-input,
.create-project-btn {
  font-size: 20px;
  width: 25%;
}

.palette-form,
.project-form {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.projects {
  background: silver;
  display: flex;
  overflow: scroll;
}

.fa-lock:hover,
.fa-lock-open:hover {
  color: grey;
  filter: drop-shadow(5px 5px black);
  transition: all 0.4s ease-in-out;
}

.project-drop-down:hover,
.refresh-colors-btn:hover,
.create-palette-btn:hover:enabled,
.create-project-btn:hover:enabled {
  background-color: grey;
  color: white;
  transition: all 0.4s ease-in-out;
}

.refresh-colors-btn {
  outline: none;
}

/* Individual Project */

.project {
  background-color: grey;
  border: 10px solid silver;
  min-width: 500px;
  overflow: scroll;
}

.project-name {
  font-size: 32px;
  margin-bottom: 10px;
  padding-left: 8px;
}

.palette {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.palette-name {
  font-size: 18px;
  padding-left: 8px;
}

.palette-name-colors:hover {
  background-color: silver;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.fa-trash {
  color: white;
  font-size: 38px;
  position: relative;
  right: 14px;
  top: 44px;
  transition: all 0.4s ease-in-out;
}

.fa-trash:hover {
  color: black;
  cursor: pointer;
}

.palette-colors {
  display: flex;
  padding: 8px;
}

.palette-color-1,
.palette-color-2,
.palette-color-3,
.palette-color-4,
.palette-color-5 {
  height: 40px;
  width: 80px;
}
